.foreground-fill-day {
  fill: white;
}

.foreground-fill-night {
  fill: #9cd6c5;
}

.background-fill-day {
  fill: #9cd6c5;
}

.background-fill-night {
  fill: black;
}

#background-img {
  x: 6%;
  y: 42%;
}

#heart-img {
  fill: #9cd6c5;
  width: 15%;
  height: 15%;
  x: 5%;
  y: 70%;
}

#steps-img {
  fill: #9cd6c5;
  width: 15%;
  height: 15%;
  x: 5%;
  y: 52%;
}

#bpm-text-tag {
  x: 25%;
  y: 83%;
}

#steps-text-tag {
  x: 25%;
  y: 65%;
}

.dataText {
  fill: white;
  font-size: 46;
  font-family: Colfax-Bold;
}

.clockText {
  fill: #9cd6c5;
  font-size: 108;
  font-family: Colfax;
  text-align: center;
  x: 2%;
  y: 45%;
}

.shadowText {
  fill: white;
  opacity: 0.4;
  font-size: 112;
  font-family: Colfax;
  x: 1%;
  y: 46%;
}
